<h1>Question: <%= @question.title %></h1>
  <div class="container">
  <%= @question.body %>
  </div>
  <% @question.answers.each do |answer| %>
    <ul>
      <li>Answer: <p><%= answer.body %></p> Author: <%= answer.author %> <br><br> Posted Date: <%= answer.created_at.strftime("%d %b %y") %><br>
      </li>
    </ul><br>
    <a href="/answers/new">Add an Answer</a>
  <% end %>

