<div class="panel panel-primary panel-border-custom">
<div class="panel-heading panel-heading-custom"><h3><%= @question.title %></h3>by: <%= @question.user.username %><br>Posted: <%= @question.created_at.strftime("%b %d, 20%y") %><br>
  <% if current_user %>
  <% if @question.user.id == current_user.id %>
  <form method="post" action="/questions/<%=@question.id%>">
  <input type="hidden" name="_method" value="delete"/>
  <br><button type="submit" class="btn btn-default">Delete</button>
  </form>
  <% end %>
  <% end %>
</div>
  <div class="panel-body">
    <%= @question.body %><br><br>
      <% if @question.tags %>
          <% @question.tags.each do |tag|%>
            <%= tag.name %>
          <% end %>
      <% end %>
  </div>
</div>
<% if @question.comments %>
      <ul>
        <% @question.comments.each do |comment|%>
          <div id="comment_box" class="well well-sm" id="question_comment"><%= comment.body %> <em>- <%= comment.author %></em><br> Posted: <%= comment.created_at.strftime("%b %d, 20%y") %></div>
        <% end %>
        <p class="comment_place"></p>
       <div class="id_form"><blockquote><a id="add_comment" href="/questions/<%=@question.id%>/comments/new">Add a comment</a></blockquote>
       </div>
      </ul>
    <% end %>



  <% if current_user %>
    <h3>Add Your Answer</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <% if @errors %>
            <% @errors.each do |error| %>
              <ul>
                <li><%= error %></li>
              </ul>
              <% end %>
          <% end %>

          <form class="form-horizontal" action="/answers" method="post">
            <div class="col-xs-8">
            <input class="form-control input-lg" type="text" name="answer[body]" placeholder="Answer">
            </div>
            <div class="col-xs-4">
                <input class="form-control input-sm" type="text" name="tag[name]" placeholder="Tags (optional)">
              </div>
                <input type="hidden" name="answer[author]" value="<%= current_user.username %>" >
                <input type="hidden" name="answer[user_id]" value="<%= current_user.id %>" >
                <input type="hidden" name="answer[question_id]" value="<%= @question.id %>" >
              <div class="col-sm-10">
              <br><button type="submit" class="btn btn-default">Post Answer</button></div>
          </form>
      </div>
    </div>
  <% end %>

  <h3>Answers</h3>
  <% @question.answers.each do |answer| %>
      <div class="panel panel-info">
        <div class="panel-heading" id="answer_heading"><%= answer.body %></div><div class="panel-body">Author: <%= answer.author %><br> Posted: <%= answer.created_at.strftime("%b %d, 20%y") %><br>
            <% if answer.tags %>
              <% answer.tags.each do |tag|%>
                <%= tag.name %>
              <% end %>
            <% end %>
            <div calss="vote_container">
              <a class="up_button" href="/vote/<%= answer.id %>/up"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
                <span class="vote_number"><%= answer.votes.sum(:vote_count) %></span>
              <a class="down_button" href="/vote/<%= answer.id %>/down"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
            </div>
          <% if current_user %>
          <% if answer.user.id == current_user.id %>
          <form method="post" action="/answers/<%=answer.id%>">
          <input type="hidden" name="_method" value="delete"/>
           <br><button type="submit" class="btn btn-default">Delete</button>
          </form>
          <% end %>
          <% end %>
        </div>
      </div>
    <blockquote><a href="/answers/<%=answer.id%>/comments/new">Add a comment</a><br></blockquote>
      <% if answer.comments %>
        <ul>
            <% answer.comments.each do |comment|%>
              <div class="well well-sm" id="answer_comment"><%= comment.body %> <em>- <%= comment.author %></em><br> Posted: <%= comment.created_at.strftime("%b %d, 20%y") %></div>
           <% end %>
        </ul>
      <% end %>
  <% end %>
</div>
