<h1>Question: <%= @question.title %></h1>
  <% @question.answers.each do |answer| %>
    <ul>
      <li>Answer: <p><%= answer.body %></p> Author: <%= answer.author %> <br><br> Posted Date: <%= answer.created_at.strftime("%d %b %y") %></li>
    </ul><br>
  <% end %>

  <h3>Answer Reply:</h3>

  <form action="/answers/new" method="post">
    <input type="text" name="comment[body]" placeholder="Add answer">
    <input type="hidden" name="comment[author]" value="<%= current_user.username %>" >
    <input type="submit" value="Post Answer">
  </form>
