<div class='container'>
  <h1>Questions:</h1>
    <% @questions.order('id DESC').each do |question| %>
    <ul>
      <li><a href='/questions/<%= question.id%>'><h4><%= question.title %></h4></a>by: <%= question.user.username %><br><br>
              <%= question.body %><br>
              Posted: <%= question.created_at.strftime("%b %d, 20%y") %></li>

    </ul><br>
    <% end %>
</div>
