<% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>


<div class="container">

<% if @answer.nil? %>
     <h2><%= @question.title %></h2>

      <h5>Add Your Comment:</h5>

    <form id="id_form" class="" action="/questions/<%=@question.id%>/comments" method="post">
      <input id="comment_body" type="text" name="comment[body]" placeholder=" Comment"><br><br>
      <input id="comment_pseud"type="text" name="comment[author]" placeholder="Pseudonym, if any"><br>
      <input type="hidden" name="comment[user_id]" value="<%=@current_user.id%>">
      <br>
      <input type="submit" value="Comment"><br>
    </form>

<% else %>

    <h2><%= @answer.body %></h2>

      <h5>Add Your Comment:</h5>

    <form id="id_form" class="" action="/answers/<%=@answer.id%>/comments" method="post">
      <label for="comment[body]">Comment:</label>
      <input type="text" name="comment[body]"><br>
      <label for="comment[author]">Author:</label>
      <input type="text" name="comment[author]"><br>
      <input type="hidden" name="comment[user_id]" value="<%=@current_user.id%>">
      <br>
      <input type="submit" value="Comment"><br>
    </form>


  <% end %>
</div>

