<div class="container">
<span>
<img src="/images/glyphicons-542-cat.png">
<img src="/images/glyphicons-542-cat.png">
<img src="/images/glyphicons-542-cat.png">
<img src="/images/glyphicons-542-cat.png">
<img src="/images/glyphicons-542-cat.png">
</span>
 <h2>Welcome, <%= current_user.username %>!</h2>
<h3>Questions you've asked:</h3>
<table style="width:80%">
  <tr>
    <th class="profile_header"><h4>Question</h4></th>
    <th class="profile_header"><h4>Date Asked</h4></th>
  </tr>
    <% @user_questions.each do |question| %>
    <tr>
      <td id="question_cell"><a href="/questions/<%= question.id %>"><%= question.title %></a></td>
    <td id="question_created_cell"><%= question.created_at.strftime("%b %d, 20%y") %><% end %></td>
  </tr>
</table>
<h3>Questions you've answered:</h3>
<table style="width:100%">
  <tr>
    <th>Answer</th>
    <th>Date Posted</th>
  </tr>
    <tr>
      <% @user_answers.each do |answer| %>
    <tr>
      <td id="question_cell"><a href="/questions/<%= answer.question.id %>"><%= answer.body %></a></td>
    <td id="question_created_cell"><%= answer.created_at.strftime("%b %d, 20%y") %><% end %></td>
  </tr>
    <td>date posted</td>
  </tr>
</table>
</div>
