<div class="container">
<h1>Logo goes here!</h1>
</div>
<div class="conatiner">
  <h2>Latest questions:</h2>
  <div class="tab-pane active" id="latest_questions">
  <ul>
    <% display_latest_questions.each do |question| %>
    <div class="panel panel-default">
    <div class="panel-heading"><a href='/questions/<%= question.id%>'><h4><%= question.title %></h4></a>by: <%= question.user.username %></div>
              <div class="panel-body"><%= question.body %><br><br>
              Posted: <%= question.created_at.strftime("%b %d, 20%y") %></div>
    </div>
    <% end %>
    <a href="/questions/show"><h2>See all questions</h2></a>
  </ul>
</div>
</div>

